doctype 5
html(class="no-js")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    title undefined
    link(rel='stylesheet' href='css/vendor/foundation/foundation.css')
    link(rel='stylesheet', href='/css/style.css' + cachebust)

    if reload
      script(src='/socket.io/socket.io.js')
      script(src='/js/reload-client.js')

    if optimize
      script(src='/js/bootstrap-built.js')
    else
      script(src='/js/vendor/requirejs/require.js', data-main='/js/bootstrap.js')
  body
    form(data-abide)
      .row
        .small-12.columns
          h4
            | Součet
            span.result  0
        .small-12.columns
          .row.collapse
            .small-3.columns
              span.prefix 5000
            .small-9.columns
              input(type='number', inputmode='numeric', min='0', max='10000', step='1', placeholder='0')
        .small-12.columns
          .row.collapse
            .small-3.columns
              span.prefix 2000
            .small-9.columns
              input(type='number', inputmode='numeric', min='0', max='10000', step='1', placeholder='0')
        .small-12.columns
          .row.collapse
            .small-3.columns
              span.prefix 1000
            .small-9.columns
              input(type='number', inputmode='numeric', min='0', max='10000', step='1', placeholder='0')
        .small-12.columns
          .row.collapse
            .small-3.columns
              span.prefix 500
            .small-9.columns
              input(type='number', inputmode='numeric', min='0', max='10000', step='1', placeholder='0')
        .small-12.columns
          .row.collapse
            .small-3.columns
              span.prefix 200
            .small-9.columns
              input(type='number', inputmode='numeric', min='0', max='10000', step='1', placeholder='0')
        .small-12.columns
          .row.collapse
            .small-3.columns
              span.prefix 100
            .small-9.columns
              input(type='number', inputmode='numeric', min='0', max='10000', step='1', placeholder='0')
        .small-12.columns
          .row.collapse
            .small-3.columns
              span.prefix 50
            .small-9.columns
              input(type='number', inputmode='numeric', min='0', max='10000', step='1', placeholder='0')
        .small-12.columns
          .row.collapse
            .small-3.columns
              span.prefix 20
            .small-9.columns
              input(type='number', inputmode='numeric', min='0', max='10000', step='1', placeholder='0')
        .small-12.columns
          .row.collapse
            .small-3.columns
              span.prefix 10
            .small-9.columns
              input(type='number', inputmode='numeric', min='0', max='10000', step='1', placeholder='0')
        .small-12.columns
          .row.collapse
            .small-3.columns
              span.prefix 5
            .small-9.columns
              input(type='number', inputmode='numeric', min='0', max='10000', step='1', placeholder='0')
        .small-12.columns
          .row.collapse
            .small-3.columns
              span.prefix 2
            .small-9.columns
              input(type='number', inputmode='numeric', min='0', max='10000', step='1', placeholder='0')
        .small-12.columns
          .row.collapse
            .small-3.columns
              span.prefix 1
            .small-9.columns
              input(type='number', inputmode='numeric', min='0', max='10000', step='1', placeholder='0')
    